<?php
if (isset($_POST['action']))
{
	$action = $_POST['action'];
	if ($action == 'create')
	{
		if (isset($_POST['title'], $_POST['content'], $_POST['picture']))
		{
			$manager = new ArticleManager($db);
			$article = $manager->create($_POST['title'], $_POST['content'], $_POST['picture'], "toto");
			header('Location: index.php?page=article&id='.$article->getId());
			exit;
		}
	}
	else if ($action == 'update')
	{
		if (isset($_POST['id'], $_POST['title'], $_POST['content'], $_POST['picture']))
		{
			$manager = new ArticleManager($db);
			$article = $manager->findById($_POST['id']);
			if ($article)
			{
				$article->setTitle($_POST['title']);
				$article->setContent($_POST['content']);
				$article->setPicture($_POST['picture']);
				header('Location: index.php?page=article&id='.$article->getId());
				exit;
			}
			else
				$error = "L'article n'existe pas.";
		}
	}
	else if ($action == 'delete')
	{
		if (isset($_POST['id']))
		{
			$manager = new ArticleManager($db);
			$article = $manager->findById($_POST['id']);
			if ($article)
			{
				$manager->remove($article);
				header('Location: index.php?page=articles');
				exit;
			}
			else
				$error = "L'article n'existe pas.";
		}
	}
}
?>